@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;

}

button {
    padding: 0;
    border: none;
    border-color: transparent;
}

.container {
    max-width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
}