@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');


:root {
    --black: #000000;
    --white: #ffffff;


    --font-family: 'Open Sans', sans-serif;
    --second-family: "Cormorant", sans-serif;
    --third-family: "IM FELL Great Primer SC", sans-serif;
}

html {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    padding: 0px 20px;
    margin: 0 auto;
}

body{
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 30px 0;
}

.logo {
    margin-bottom: 35px;
}

.menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
}

.user-action{
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.user-actions__item-search{
    margin-left: 80px;
}