.header {
    display: flex;
    flex-direction: column;

    padding-top: 30px;
    padding-bottom: 74px;

    min-height: 840px;

    background: 
    linear-gradient(
        180deg,
        #242B33 11.98%,
        rgba(45, 52, 60, 0.38) 51.04%,
        #242B33 92.19%
    ),
    url(./../img/header/header-bg.jpg), lightgray 50% / cover no-repeat;
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}

.header__title{
    position: relative;
    margin-bottom: 320px;
}

.header__desc {
    text-align: center;
    font-family: $font-accent;
    font-size: 48px;
    font-weight: 700;
    color: $accent;
}

.header__icon{
    position: absolute;
    right: 47%;
    bottom: -110px;

    cursor: pointer;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 625px;
    margin: 0 auto;

}

.header__adress,
.header__phone {
    position: relative;
    padding-left: 35px;
}

.header__phone {
    padding-right: 90px;
}

.header__adress::before,
.header__phone::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
}

.header__adress::before{
    background-image: url(./../img/header/map.svg);
}

.header__phone::before {
    background-image: url(./../img/header/phone.svg);
}

.header__nav-btn {
    display: none;
    @media screen and (max-width: $tablet) {
        display: block;
    }
}

.header__nav{
    // @media screen and (max-width: $tablet) {
    //     display: none;
    // }

    @include mediaTablet {
        display: none;
    }
}